@charset "UTF-8";


/* 본문 영역 스타일 */
.contents { clear:both; width: 100vw; min-height:100vh;}


.page { clear:both; width: 100vw; height: fit-content; min-height: 100vh; position:relative; margin-top: 150px; }
.page::after { content:""; display:block; width: 100%; clear:both; }

#page1 {display:flex; flex-wrap: wrap; justify-content: center;}

.page_wrap { clear:both; width: 1200px; height: auto; margin:0 auto; }
.page_tit { font-size:48px; text-align: center; padding-top:1em; color:#fff;
    padding-bottom: 2.4rem; }

#mypage *{padding: 10px; line-height: 32px; border-top: 1px solid black; border-bottom: 1px solid black;}

.breadcrumb { clear:both;
    width:1200px; margin: 0 auto; text-align: right; color:#fff;
    padding-top: 28px; padding-bottom: 28px; }
.breadcrumb a { color:#fff; }
.frm { clear:both; width:1200px; margin:0 auto; padding-top: 80px; }

.tb1 { width:500px; margin:20px auto;}
.tb1 th {width: 200px;}
.tb1 td { width: 300px;}

.indata { display:inline-block; width: 500px; height: 48px; line-height: 48px;
    text-indent:14px; font-size:18px; }

.inbtn {display:block;  border-radius:100px; min-width:140px; text-align: center; line-height: 48px; background-color: #333; color:#fff; font-size: 18px; }
.inbtn:first-child { float:left; }
.inbtn:last-child { float:right; }

.table_container {margin:10px; width:90vw;}

.board_tb {width:100%; margin: 10px auto;}
.board_tb [class*="item"] {padding: 20px; text-align:center;}
.board_tb thead {background-color: darkturquoise;}
.board_tb th {border: 1px solid gray; background-color: darkturquoise;}
.board_tb td {border: 1px solid gray;}
.board_tb .item2.title {text-align: start;}
td a {width: 100%; display: block;}

.board_tb input {width: 100%;}

#online_form {width: 100%;}

.table_form {width:100%; margin: 10px auto;}
.table_form [class*="item"] {padding: 20px; text-align:center;}
.table_form thead {background-color: darkturquoise;}
.table_form th {border: 1px solid gray; background-color: darkturquoise; width: 20%;}
.table_form td {border: 1px solid gray;}
.table_form .item2.title {text-align: start;}
td a {width: 100%; display: block;}
.table_form input {width: 100%; border: none; padding: 10px;}
.table_form textarea {width: 90%; border: none;}


.hidden {display: none;}

.paragraph {margin:10px auto; padding: 15px; border: 1px solid gray; min-height: 40vh;}

.row_table td{padding: 10px;}

textarea{height: 50vh; width: 100%; box-sizing: border-box;}

.faq {line-height: 1.8; margin: 10px; display: block; width: 100%; box-sizing: border-box;}
.faq li {width: 100%; padding: 15px; font-size: 20px; background-color: whitesmoke; border-radius: 10px; margin: 40px auto; box-sizing: border-box;}

.question {font-size: 20px;}
.answer {display: none; text-indent: 30px;}

.banner {clear: both;  width: 100vw; background-image: url("./images/bg_visual_overview.jpg"); background-repeat: no-repeat; background-size: cover; background-position:center -250px;}

.my_page {display: flex; width: 100vw; height: fit-content; min-height: 100vh; padding: 30px; justify-content: center; flex-wrap: wrap; margin-bottom: 50px; box-sizing: border-box;}